@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>@ViewData["Title"] - Timoto.az</title>

    <link rel="icon" href="~/assets/images/T_icon.png" type="image/gif" sizes="20x20">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="~/assets/css/mdb.min.css" rel="stylesheet" type="text/css" id="mdb">
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/coloring.css" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="~/assets/css/colors/scheme-01.css" rel="stylesheet" type="text/css">
</head>

<body class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "home-page" : "")">

    <div id="wrapper">

        <!-- page preloader begin -->
        <div id="de-preloader"></div>
        <!-- page preloader close -->
        <!-- header begin -->
        <header class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home"
    ? "header-scrolled header-light scroll-light has-topbar"
    : "transparent header-light scroll-light has-topbar")">



            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+994 10 224 42 24</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>contact@timoto.com</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>7/24</a></div>
                        </div>
                    </div>

                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                           
                           
                            <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="index.html">
                                            <img class="logo-1" src="~/assets/images/timoto_white_text_logo.png" alt="">
                                            <img class="logo-2" src="~/assets/images/timoto_black.png" alt="">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li>
                                        <a class="menu-item" asp-controller="Home" asp-action="Index">Home</a>
                                        
                                    </li>
                                    <li>
                                        <a class="menu-item" asp-controller="Car" asp-action="Index">Cars</a>
                                       
                                    </li>
                                    <li><a class="menu-item" href="booking.html">Booking</a></li>
                                    @inject SignInManager<AppUser> SignInManager
                                    @inject UserManager<AppUser> UserManager

                                    <li class="menu-item-has-children">
                                        <a class="menu-item" href="#">My Account</a>
                                        <ul class="submenu">
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                
                                                <li><a class="menu-item" asp-controller="Profile" asp-action="MyProfile">My Profile</a></li>
                                                <li><a class="menu-item" asp-controller="Account" asp-action="MyBookings">My Orders</a></li>
                                                <li><a class="menu-item" asp-controller="Account" asp-action="Favorites">My Favorite Cars</a></li>
                                                
                                                   <li>

                                                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                                        @Html.AntiForgeryToken()
                                                        <button type="submit" class="menu-item border-0 bg-transparent p-0 text-start w-100" style="margin-bottom:10px; margin-left:16px">Logout</button>
                                                    </form>

                                                   </li>

                                                    
                                                
                                            }
                                            else
                                            {
                                                <li><a class="menu-item" asp-controller="Account" asp-action="Login">Login</a></li>
                                                <li><a class="menu-item" asp-controller="Account" asp-action="Register">Register</a></li>
                                            }
                                        </ul>
                                    </li>

                                    
                                    
                                    <li>
                                        <a class="menu-item" href="#">Contact</a>
                                        
                                    </li>
                                </ul>
                                <div class="de-flex-col">
                                    <div class="menu_side_area">
                                        <a href="login.html" class="btn-main">Add Car</a>
                                        <span id="menu-btn"></span>
                                    </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
      
        <!-- header close -->
        @RenderBody()
        <!-- footer begin -->
        <footer class="text-light">
            <div class="container">
                <div class="row g-custom-x">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>About Timoto</h5>
                            <p>Timoto offers premium and reliable car rental services across Baku. Whether you're looking for luxury, comfort, or efficiency, we have the perfect vehicle for you.</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Contact Info</h5>
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i> 28 May Street, Baku, Azerbaijan</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i> +994 50 123 45 67</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:support@timoto.az">support@timoto.az</a></span>
                                <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Price List</a></span>
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <h5>Quick Links</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="widget">
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Cars</a></li>
                                        <li><a href="#">Booking</a></li>
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Follow Us</h5>
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-telegram fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">
                                    <a href="/">
                                        © 2025 Timoto Rent a Car. All rights reserved.
                                    </a>
                                </div>
                                <ul class="menu-simple">
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- footer close -->
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/designesia.js"></script>
    <script>
        const header = document.querySelector('header');
        const isHome = document.body.classList.contains('home-page');

        if (!isHome) {
            window.addEventListener('scroll', function () {
                if (window.scrollY > 50) {
                    header.classList.add('header-scrolled');
                    header.classList.remove('transparent');
                } else {
                    header.classList.remove('header-scrolled');
                    header.classList.add('transparent');
                }
            });
        }
    </script>

    <script>
        setTimeout(function () {
            const alert = document.querySelector('.alert');
            if (alert) {
                alert.style.transition = 'opacity 0.5s ease';
                alert.style.opacity = '0';
                setTimeout(() => alert.remove(), 500);
            }
        }, 4000); // 4 saniyəyə tədricən yox olur
    </script>



    
    
</body>

</html>
